@import 'react-datepicker/dist/react-datepicker.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

